.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.hentry,
.comments-list-container,
.comment-form-container,
.post-navigation,
body.search .page-content {
	padding: 3.5em 0;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.entry-meta,
.single-footer {
	display: inline-block;
	margin-bottom: 1em;
	padding: 0.1em 0.25em;
}

.small-avatar img {
	height: 25px;
	width: 25px;
	height: 1.25em;
	width: 1.25em;
	border-radius: 50%;
	vertical-align: text-bottom;
}

a.comments-link,
.reply, {
	display: inline-block;
	background: $color__text-main;
	color: white;
	outline: none;
	padding: 0.5rem 1.25rem;
	border-radius: 5px;
	line-height:1.125em;
	margin-right: 0.5rem;
	@include font-size(1.125);
}

.comments-link-text,
.comment-reply-link {
	z-index: 2;
	position: relative;
	text-shadow: 0px 0px 5px rgba(33, 34, 35, 1);
}

.more-link {
	display: table;
	margin-top: 1rem;
}

//Exceptions:
body.search .page-content {
	padding-top: 2.5em;
}
section.no-results {
	.search-field,
	.genericon-search {
		text-shadow: none;
		color: $color__text-main;
	}
}

@media screen and (min-width: $breakpoint-medium) {
	a.comments-link,
	.reply, {
		line-height:1.25em;
		@include font-size(1.25);
	}
}