button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	background: $color__background-button;
	color: white;
	padding: 0.5rem 1.25rem;
	border-radius: 5px;
	line-height:1.125em;
	@include font-size(1.125);
	text-shadow: 0px 0px 5px rgba(33, 34, 35, 1);

	&:active,
	&:hover,
	&:focus {
		box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
	}
}

@media screen and (min-width: $breakpoint-medium) {
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		line-height:1.25em;
		@include font-size(1.25);
	}
}

/*--------------------------------------------------------------
## Waves
--------------------------------------------------------------*/
@import "../components/waves";