a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;

		img {
			opacity: 0.75;
		}
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	&.image-link {
		border-bottom: 0 !important;
	}
}

.entry-content {
	a {
		border-bottom: 2px solid $color__link-border; 
	}
}

#primary-menu,
.widget-area {
	a {
		color: $color__text-secondary;
		
		&:visited {
			color: $color__text-secondary;
		}
		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			color: $color__text-secondary;
			box-shadow: inset 0 -0.125em $color__link-border;
		}
	}
}

.more-link {
	display: inline-block;
}