a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;

		img {
			opacity: 0.75;
		}
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	&.image-link {
		border-bottom: 0 !important;
	}
}

.widget-area,
.entry-content {
	a {
		border-bottom: 2px solid $color__link-border; 
	}
}

.more-link {
	display: inline-block;
}