/* Transitions. */
a,
.post-navigation span,
.search-submit .genericon-search {
	transition: color 0.25s;
}
.more-link,
.site-title a,
.flickity-prev-next-button {
	transition: background 0.25s;
}
input,
.menu-toggle,
.search-submit,
.post-navigation a,
.social-menu-wrapper a {
	transition: all 0.25s;
}
.post-thumbnail-link img {
	transition: opacity 0.25s;
}